body {
  font-family: Noto Sans JP;
  background-color: #121212;
  color: #eeee;
}

header h1 {
  color:#ffffff;
  
}
header img.logo{
  height: 120px;
  margin-right: 3rem;
}

.deadline {
  font-size: 0.9em;
  color: #888;
  margin-left: 10px;
}

.priority {
  font-size: 0.9em;
  color: gold;
  margin-left: 10px;
}